
h1,h2{
  text-align:center;
}

h1{
  font-size:55pt;
  padding-top:10px;
  padding-bottom:40px;
  background-color:rgba(163, 216, 255, 0.5);
  width:600px;
  margin: 30px auto;
  border-radius:15px;
  padding-top:30px
 
}

/******************Header*************/
.nav-menu{
 display: flex;
 gap: 45px;
 font-weight:bold;
}

.nav-menu a{
  text-decoration: none;
  margin:15px;
  padding:12px;
}

.nav-menu a:hover {
  background-color: #94FFD8;
  border-radius: 10px
}

.nav-menu a.active{
  font-weight: bold;
  background-color:rgba(163, 216, 255, 0.5);
  padding: 12px;
  border-radius: 10px

}
.nav-menu a:visited {
  color: black; 
}

.nav-menu a.after{
  color:black;
}
/******************** HomePage********************/
.book-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:35px
}

.book-title{
  font-size:18pt;
  background-color:white;
  padding-top: 15px;
  padding-bottom:15px;
  border-radius:4px;
}
.each-book{
  background-color:#94FFD8;
  text-align:center;
  border-radius:15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}
.img-book{
  height: auto; 
  border-radius: 8px;
  max-width:100%;
 
}

/******************** Quotes********************/
.quotes-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:35px;
  text-align:center;
}

.quote{
  
  background-color:#E5E4E2;
  border-radius:15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 
}

.quote p{

  background-color:white;
  border-radius:4px;
}


/******************** Description********************/

.description-container{
  background-color:#E5E4E2;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 200px 300px;
  justify-content:space-evenly;
  width:800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  gap:35px;
  border-radius:15px;
}

.img-description{
  width:250px;
  height: auto;
  background-color:#94FFD8;
  padding:20px;
  border-radius:15px;
  margin-top:15px;
  margin-bottom:15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


/*******************************Tablet version***************/
@media (max-width: 768px) {
  h1 {
    font-size: 40pt;
    width: 90%;
  }
  .book-container {
      grid-template-columns: repeat(2, 1fr);
  }
  .description-container {
    grid-template-columns: 1fr;
    width: 90%; 
    justify-items:center;
    gap:5px;
}
}

/***************************Mobile Version****************************/
@media (max-width: 480px) {
  h1{
    font-size:30pt;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color:#E5E4E2;
    gap:0;
  }
  
  .nav-menu a.active{
    background-color:white;
    padding: 12px;
  
  }


  .book-container {
      grid-template-columns: 1fr; 
  }

  .quotes-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:35px;
    text-align:center;
  }

  
}